---
layout: default
title: Andrea Krämer Galerie
banner_image: 
gallery:
   -
      column-size: col-4_sm-6
      aspect-ratio: square
      background_image: /uploads/kaefer-1.png
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/kaefer-2.png
      category: käferprojekt
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/strukturen-gelb-1.png
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/polaroid-1.png
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/kaefer-3.png
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/strukturen-rot-1.png
      category: berlin
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/strukturen-sw-1.png
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/kaefer-4.png
      category: käferprojekt
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/kaefer-5.png
      category: zuckertanz 
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/strukturen-rot-2.png
      category: käferprojekt
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/strukturen-sw-2.png
      category: berlin
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/kaefer-6.png
      category: käferprojekt
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/polaroid-2.png
      category: duschen-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/polaroid-3.png
      category: duschen-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: square
      background_image: /uploads/kaefer-7.png
      category: berlin
   -
      column-size: col-4_sm-6
      aspect-ratio: square
      background_image: /uploads/kaefer-8.png
      category: käferprojekt
   - 
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/polaroid-10.png
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/polaroid-4.png
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/polaroid-9.png
      category: berlin
   -
      column-size: col-4_sm-6
      aspect-ratio: square
      background_image: /uploads/kaefer-9.png
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/polaroid-5.png
      category: duschen-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/strukturen-sw-3.png
      category: verdrängung
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/strukturen-gelb-2.png
      category: verdrängung
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/kaefer-10.png
      category: berlin
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/polaroid-6.png
      category: duschen-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/strukturen-rot-3.png
      category: verdrängung
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/polaroid-7.png
      category: duschen-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/polaroid-8.png
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/strukturen-gelb-3.png
      category: verdrängung
seo:
   title: Andrea Krämer Galerie
   description: 
   social_image:
   twitter_card:
   keywords:
   hide-from-google: false
---
<!-- Popup Gallery -->
<section class="padded center">

   <h2 class="col-12 padded-b-2 sm-padded-b-0 editable text-lg uppercase">Galerie</h2>

   <div class="col-12 portfolio-filter padded-2 sm-padded-tb-05" id="portfolio-filter">
      <span>ALLE</span>
      <span>Zuckertanz</span>
      <span>Verdrängung</span>
      <span>Berlin</span> 
      <span>Auf dem Land</span> 
      <span>Duschen in Berlin I</span>
      <span>Duschen in Berlin II</span> 
      <span>Käferprojekt</span>
   </div>

   {% include back-to-top-button.html %}
   
   <div class="gallery grid center filterable-gallery" id="lightgallery">
 
      {% for item in page.gallery %}
 
      <a class="{{item.column-size}} gallery-item {{item.category}}" href="{{item.background_image}}">
   		<div class="bg-image lazy {{item.aspect-ratio}} {{item.category}}" style="background-image: url('{{item.background_image}}');"></div>
 	   </a>

      {% endfor %}
 
   </div>
</section>