---
layout: default
title: Andrea Krämer Galerie
banner_image:
gallery:
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/verdraengung-1.jpg
      category: verdrängung
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/verdraengung-2.jpg
      category: verdrängung
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/verdraengung-3.jpg
      category: verdrängung
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/verdraengung-4.jpg
      category: verdrängung
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land2.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land3.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land4.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land5.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land6.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land7.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land8.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/gethsemanekirche.jpg
      category: unterwegs-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/hohenschoenhausen.jpg
      category: unterwegs-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/vattenfallwerk.jpg
      category: unterwegs-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/schoeneberg.jpg
      category: unterwegs-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/ostkreuz.jpg
      category: unterwegs-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/fernsehturm.jpg
      category: unterwegs-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/strassenbahn-alex.jpg
      category: unterwegs-in-berlin-i  
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/hinterhof-schoenhauser-allee-1.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/hohenschoenhausen-2.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/kaufhof.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/ostkreuz-bahnhof.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/ostkreuz-revaler-str.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/ostkreuz-revaler-str-2.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/ostkreuz-richtung-alex.jpg
      category: unterwegs-in-berlin-ii 
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/warschauer-bruecke.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/warschauer-bruecke-12.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker1.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker2.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker3.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker4.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker5.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker6.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker7.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker8.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker9.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker10.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker11.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker12.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker13.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker14.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker15.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker16.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker17.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker18.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker19.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/duschen1.jpg
      category: duschen-in-berlin-i-und-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/duschen2.jpg
      category: duschen-in-berlin-i-und-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/duschen3.jpg
      category: duschen-in-berlin-i-und-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/duschen4.jpg
      category: duschen-in-berlin-i-und-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/duschen5.jpg
      category: duschen-in-berlin-i-und-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/duschen6.jpg
      category: duschen-in-berlin-i-und-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/duschen7.jpg
      category: duschen-in-berlin-i-und-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/duschen8.jpg
      category: duschen-in-berlin-i-und-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/duschen9.jpg
      category: duschen-in-berlin-i-und-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/duschen10.jpg
      category: duschen-in-berlin-i-und-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/fundsachen1.jpg
      category: fundsachen
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/fundsachen2.jpg
      category: fundsachen
   -
      column-size: col-4_sm-6
      aspect-ratio: square
      background_image: /uploads/fundsachen3.jpg
      category: fundsachen
   -
      column-size: col-4_sm-6
      aspect-ratio: square
      background_image: /uploads/fundsachen4.jpg
      category: fundsachen
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/kaefer1.jpeg
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer2.jpg
      aspect-ratio: square
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer3.jpg
      aspect-ratio: square
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer4.jpg
      aspect-ratio: portrait
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer5.jpg
      aspect-ratio: square
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer6.jpg
      aspect-ratio: square
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer7.jpg
      aspect-ratio: landscape
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer8.jpg
      aspect-ratio: portrait
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer9.jpeg
      aspect-ratio: landscape
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer10.jpg
      aspect-ratio: square
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer11.jpeg
      aspect-ratio: portrait
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer12.jpeg
      aspect-ratio: portrait
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer13.jpg
      aspect-ratio: landscape
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer14.jpeg
      aspect-ratio: landscape
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer15.jpeg
      aspect-ratio: landscape
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer16.jpeg
      aspect-ratio: landscape
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer17.jpeg
      aspect-ratio: landscape
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer18.jpeg
      aspect-ratio: landscape
      category: käferprojekt
   -
      column-size: col-4_sm-6
      background_image: /uploads/kaefer19.jpeg
      aspect-ratio: portrait
      category: käferprojekt


   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-1.jpg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-2.jpg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-3.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-4.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-5.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-6.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-7.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-8.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-9.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-10.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-11.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-12.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-13.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-14.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-15.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-16.jpeg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-17.jpg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/naturstuecke-18.jpg
      aspect-ratio: portrait
      category: naturstücke
   -
      column-size: col-4_sm-6
      background_image: /uploads/collage-1.jpg
      aspect-ratio: portrait
      category: stückwerke
   -
      column-size: col-4_sm-6
      background_image: /uploads/collage-2.jpg
      aspect-ratio: portrait
      category: stückwerke
   -
      column-size: col-4_sm-6
      background_image: /uploads/collage-3.jpg
      aspect-ratio: portrait
      category: stückwerke
   -
      column-size: col-4_sm-6
      background_image: /uploads/collage-4.jpg
      aspect-ratio: portrait
      category: stückwerke
   -
      column-size: col-4_sm-6
      background_image: /uploads/collage-5.jpg
      aspect-ratio: portrait
      category: stückwerke
   -
      column-size: col-4_sm-6
      background_image: /uploads/collage-7.jpg
      aspect-ratio: portrait
      category: stückwerke
seo:
   title: Andrea Krämer Galerie
   description:
   keywords:
   hide-from-google: false
---
<!-- Popup Gallery -->
<section class="padded center">

   <h2 class="col-12 padded-b-2 sm-padded-b-0 editable text-lg uppercase">Galerie</h2>

   <div class="col-12 portfolio-filter padded-2 sm-padded-tb-05" id="portfolio-filter">
      <div>ALLE</div>
      <div>Zuckertanz</div>
      <div>Verdrängung</div>
      <div>Unterwegs in Berlin I</div> 
      <div>Unterwegs in Berlin II</div> 
      <div>Auf dem Land</div> 
      <div>Naturstücke</div> 
      <div>StückWerke</div> 
      <div>Duschen in Berlin I und II</div>
      <div>Fundsachen</div>
      <div>Käferprojekt</div>
      <div>Archiv</div> 
   </div>

   {% include back-to-top-button.html %}
   
   <div class="gallery grid center filterable-gallery" id="lightgallery">
 
      {% for item in page.gallery %}
 
      <a class="{{item.column-size}} gallery-item {{item.category}}" href="{{item.background_image}}">
   		<div class="bg-image lazy {{item.aspect-ratio}} {{item.category}}" style="background-image: url('{{item.background_image}}');"></div>
 	   </a>

      {% endfor %}
 
   </div>
</section>