---
layout: default
title: Andrea Krämer Galerie
banner_image:
gallery:
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/verdraengung-1.jpg
      category: verdrängung
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/verdraengung-2.jpg
      category: verdrängung
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/verdraengung-3.jpg
      category: verdrängung
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/verdraengung-4.jpg
      category: verdrängung
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land2.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land3.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land4.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land5.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land6.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/land7.jpg
      category: auf-dem-land
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/gethsemanekirche.jpg
      category: unterwegs-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/hohenschoenhausen.jpg
      category: unterwegs-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/vattenfallwerk.jpg
      category: unterwegs-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/schoeneberg.jpg
      category: unterwegs-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/ostkreuz.jpg
      category: unterwegs-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/fernsehturm.jpg
      category: unterwegs-in-berlin-i
   -
      column-size: col-4_sm-6
      aspect-ratio: landscape
      background_image: /uploads/strassenbahn-alex.jpg
      category: unterwegs-in-berlin-i  
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/hinterhof-schoenhauser-allee-1.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/hohenschoenhausen-2.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/kaufhof.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/ostkreuz-bahnhof.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/ostkreuz-revaler-str.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/ostkreuz-revaler-str-2.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/ostkreuz-richtung-alex.jpg
      category: unterwegs-in-berlin-ii 
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/warschauer-bruecke.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/warschauer-bruecke-12.jpg
      category: unterwegs-in-berlin-ii
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker1.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker2.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker3.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker4.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker5.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker6.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker7.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker8.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker9.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker10.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker11.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker12.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker13.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker14.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker15.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker16.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker17.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker18.jpg
      category: zuckertanz
   -
      column-size: col-4_sm-6
      aspect-ratio: portrait
      background_image: /uploads/zucker19.jpg
      category: zuckertanz
seo:
   title: Andrea Krämer Galerie
   description:
   keywords:
   hide-from-google: false
---
<!-- Popup Gallery -->
<section class="padded center">

   <h2 class="col-12 padded-b-2 sm-padded-b-0 editable text-lg uppercase">Galerie</h2>

   <div class="col-12 portfolio-filter padded-2 sm-padded-tb-05" id="portfolio-filter">
      <div>ALLE</div>
      <div>Zuckertanz</div>
      <div>Verdrängung</div>
      <div>Unterwegs in Berlin I</div> 
      <div>Unterwegs in Berlin II</div> 
      <div>Auf dem Land</div> 
      <div>Naturstücke</div> 
      <div>StückWerke</div> 
      <div>Duschen in Berlin I und II</div>
      <div>Fundsachen</div>
      <div>Käferprojekt</div>
      <div>Archiv</div> 
   </div>

   {% include back-to-top-button.html %}
   
   <div class="gallery grid center filterable-gallery" id="lightgallery">
 
      {% for item in page.gallery %}
 
      <a class="{{item.column-size}} gallery-item {{item.category}}" href="{{item.background_image}}">
   		<div class="bg-image lazy {{item.aspect-ratio}} {{item.category}}" style="background-image: url('{{item.background_image}}');"></div>
 	   </a>

      {% endfor %}
 
   </div>
</section>