---
layout: default
title: Andrea Krämer Homepage
banner_image: /uploads/kaufhof.jpg
banner-mob_image: /uploads/kaufhof.jpg
zuckertanz:
   -
      background_image: /uploads/zucker1.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker2.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker3.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker4.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker5.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker6.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker7.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker8.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker9.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker10.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker11.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker12.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker13.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker14.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker15.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker16.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker17.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker18.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/zucker19.jpg
      aspect-ratio: portrait
verdraengung:
   -
      background_image: /uploads/verdraengung-1.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/verdraengung-2.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/verdraengung-3.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/verdraengung-4.jpg
      aspect-ratio: portrait
berlin-1:
   -
      background_image: /uploads/gethsemanekirche.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/hohenschoenhausen.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/vattenfallwerk.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/schoeneberg.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/ostkreuz.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/fernsehturm.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/strassenbahn-alex.jpg
      aspect-ratio: landscape
berlin-2:
   -
      background_image: /uploads/hinterhof-schoenhauser-allee-1.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/kaufhof.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/ostkreuz-revaler-str.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/ostkreuz-revaler-str-2.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/ostkreuz-richtung-alex.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/warschauer-bruecke.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/ostkreuz-bahnhof.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/hohenschoenhausen-2.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/warschauer-bruecke-12.jpg
      aspect-ratio: portrait
land:
   -
      background_image: /uploads/land2.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/land3.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/land4.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/land5.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/land6.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/land7.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/land8.jpg
      aspect-ratio: landscape
duschen-1-2:
   -
      background_image: /uploads/duschen1.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/duschen2.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/duschen3.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/duschen4.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/duschen5.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/duschen6.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/duschen7.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/duschen8.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/duschen9.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/duschen10.jpg
      aspect-ratio: portrait
stueckwerke:
   -
      background_image: /uploads/collage-1.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/collage-2.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/collage-3.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/collage-4.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/collage-5.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/collage-7.jpg
      aspect-ratio: portrait
naturstuecke:
   -
      background_image: /uploads/naturstuecke-15.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-14.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/5.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-1.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/6.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-2.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/7.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-4.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-3.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-5.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-6.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-17.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-7.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-8.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-18.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-9.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-10.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-16.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-11.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-12.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/naturstuecke-13.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/1.jpg
      aspect-ratio: square
   -
      background_image: /uploads/2.jpg
      aspect-ratio: square
   -
      background_image: /uploads/4.jpg
      aspect-ratio: square
fundsachen:
   -
      background_image: /uploads/fundsachen1.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/fundsachen2.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/fundsachen3.jpg
      aspect-ratio: square
   -
      background_image: /uploads/fundsachen4.jpg
      aspect-ratio: square
kaefer:
   -
      background_image: /uploads/kaefer8.jpg
      aspect-ratio: portrait-tall
   -
      background_image: /uploads/kaefer1.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/kaefer4.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/kaefer19.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/kaefer11.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/kaefer12.jpg
      aspect-ratio: portrait
   -
      background_image: /uploads/kaefer10.jpg
      aspect-ratio: square
   -
      background_image: /uploads/kaefer2.jpg
      aspect-ratio: square
   -
      background_image: /uploads/kaefer3.jpg
      aspect-ratio: square
   -
      background_image: /uploads/kaefer5.jpg
      aspect-ratio: square
   -
      background_image: /uploads/kaefer6.jpg
      aspect-ratio: square
   -
      background_image: /uploads/kaefer7.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/kaefer9.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/kaefer13.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/kaefer14.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/kaefer15.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/kaefer16.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/kaefer17.jpg
      aspect-ratio: landscape
   -
      background_image: /uploads/kaefer18.jpg
      aspect-ratio: landscape
archiv:
   -
      background_image: /uploads/
gallery:
   -
      background_image: /uploads/kaefer2.jpg
   -
      background_image: /uploads/farbe4.jpg
   -
      background_image: /uploads/duschen6.jpg
   -
      background_image: /uploads/farbe10.jpg
   -
      background_image: /uploads/farbe6.jpg
   -
      background_image: /uploads/schoeneberg.jpg
   -
      background_image: /uploads/farbe1.jpg
   -
      background_image: /uploads/land1.jpg
gallery-mob:
   -
      background_image: /uploads/kaefer2.jpg
   -
      background_image: /uploads/farbe4.jpg
   -
      background_image: /uploads/farbe10.jpg
   -
      background_image: /uploads/duschen6.jpg
   -
      background_image: /uploads/schoeneberg.jpg
   -
      background_image: /uploads/farbe6.jpg
   -
      background_image: /uploads/farbe1.jpg
   -
      background_image: /uploads/land1.jpg
seo:
   title: Andrea Krämer Homepage
   description:
   keywords:
   hide-from-google: false
---
<!---------------------------- Hero Banner ------------------------------------------>
<section class="grid-middle banner banner-image tall-90 center bg-overlay">
    <h1 class="col-12 editable light-text">
        Andrea Krämer
    </h1>
</section>

<style> 
    .banner-image {
       background-image: url('{{page.banner_image}}');
    }
  
    @media(max-width:64em) {
       .banner-image {
           background-image: url('{{page.banner-mob_image}}');
    }
  }
  </style> 

<!-------------------------- Ausstellungen ------------------------------------------->
<section class="grid-spaceAround padded center">
    <div class="col-6_md-8_sm-12 padded-1 border">
         <p class="editable">
             Nächste Ausstellungen:
         </p>
         <h2 class="editable text-md medium-featured-text uppercase">
             Art Spring
         </h2>
         <p class="editable">
             03.05. - 04.05.2025 12-20 Uhr
         </p>
         <a href="https://www.artspring.berlin/kuenstler/" target="_blank" class="editable">
             www.artspring.berlin/kuenstler
         </a>
         <br />
         <h2 class="editable text-md medium-featured-text uppercase margin-t-1">
             Offener Ateliergarten
         </h2>
         <p class="editable">
             
         </p>
         <hr class="short center" />
         <p class="editable">
             Ateliergarten von Sandra Schmidt
         </p>
         <p class="editable">
             Basteiweg 45, 13158 Berlin
         </p>
    </div>
</section>


<!-------------------------- Reihen ------------------------------------------->

<section class="grid center padded bg-light-featured" id="serien">
    <h2 class="editable col-12 text-lg padded-b-2 sm-padded-b-05"> SERIEN </h2>

    <h3 class="editable text-md margin-05">Naturstücke </h3>
    <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-15">

       {% for item in page.naturstuecke %}

       <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
       </div>

       {% endfor %}

   </div>

   <div class="col-12 grid slider-container show-sm" id="lightgallery-16"> 
     {% for item in page.naturstuecke %}

     <div class="col-12 slider-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
     </div>

     {% endfor %}
   </div>
    
</section>

<section class="grid center padded padded-t-0 bg-light-featured">
   <h3 class="col-12 left editable text-md margin-05">
      Zuckertanz
   </h3> 
   <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-1">

         {% for item in page.zuckertanz %}

         <div class="col-2 margin-05 gallery-item" href="{{item.background_image}}">
            <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
         </div>

         {% endfor %}

   </div>
  
   <div class="col-12 grid slider-container show-sm" id="lightgallery-2"> 
      {% for item in page.zuckertanz %}

      <div class="col-12 slider-item" href="{{item.background_image}}">
            <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
      </div>

      {% endfor %}
   </div>
  
</section>

<section class="grid center padded padded-t-0 bg-light-featured flex-start">
    <h3 class="editable text-md margin-05">Verdrängung</h3>
    <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-3">

        {% for item in page.verdraengung %}

        <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
            <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
        </div>

        {% endfor %}

    </div>

    <div class="col-12 grid slider-container show-sm" id="lightgallery-4"> 
      {% for item in page.verdraengung %}

      <div class="col-12 slider-item" href="{{item.background_image}}">
            <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
      </div>

      {% endfor %}
    </div>

</section>

<section class="grid center padded padded-t-0 bg-light-featured">
    <h3 class="editable text-md margin-05">Unterwegs in Berlin I</h3>
    <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-5">

        {% for item in page.berlin-1 %}

        <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
            <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
        </div>

        {% endfor %}

    </div>

    <div class="col-12 grid slider-container show-sm" id="lightgallery-6"> 
      {% for item in page.berlin-1 %}

      <div class="col-12 slider-item" href="{{item.background_image}}">
            <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
      </div>

      {% endfor %}
    </div>
</section>

<section class="grid center padded padded-t-0 bg-light-featured">
   <h3 class="editable text-md margin-05">Unterwegs in Berlin II</h3>
   <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-7">

       {% for item in page.berlin-2 %}

       <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
       </div>

       {% endfor %}

   </div>

   <div class="col-12 grid slider-container show-sm" id="lightgallery-8"> 
     {% for item in page.berlin-2 %}

     <div class="col-12 slider-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
     </div>

     {% endfor %}
   </div>
</section>

<section class="grid center padded padded-t-0 bg-light-featured">
   <h3 class="editable text-md margin-05">Auf dem Land</h3>
   <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-9">

       {% for item in page.land %}

       <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
       </div>

       {% endfor %}

   </div>

   <div class="col-12 grid slider-container show-sm" id="lightgallery-10"> 
     {% for item in page.land %}

     <div class="col-12 slider-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
     </div>

     {% endfor %}
   </div>
</section>

<section class="grid center padded padded-t-0 bg-light-featured">
   <h3 class="editable text-md margin-05">
       StückWerke
   </h3>
   <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-13">

       {% for item in page.stueckwerke %}

       <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
       </div>

       {% endfor %}

   </div>

   <div class="col-12 grid slider-container show-sm" id="lightgallery-14"> 
     {% for item in page.stueckwerke %}

     <div class="col-12 slider-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
     </div>

     {% endfor %}
   </div>
</section>

<section class="grid center padded padded-t-0 bg-light-featured">
   <h3 class="editable text-md margin-05">
       Duschen in Berlin I und II
   </h3>
   <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-11">

       {% for item in page.duschen-1-2 %}

       <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
       </div>

       {% endfor %}

   </div>

   <div class="col-12 grid slider-container show-sm" id="lightgallery-12"> 
     {% for item in page.duschen-1-2 %}

     <div class="col-12 slider-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
     </div>

     {% endfor %}
   </div>
</section>

<section class="grid center padded padded-t-0 bg-light-featured">
   <h3 class="editable text-md margin-05">Fundsachen </h3>
   <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-21">

       {% for item in page.fundsachen %}

       <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
       </div>

       {% endfor %}

   </div>

   <div class="col-12 grid slider-container show-sm" id="lightgallery-22"> 
     {% for item in page.fundsachen %}

     <div class="col-12 slider-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
     </div>

     {% endfor %}
   </div>
</section>

<section class="grid center padded padded-t-0 bg-light-featured">
   <h3 class="editable text-md margin-05">Käferprojekt </h3>
   <p class="col-12 left editable margin-05">*inspiriert durch die Papierinstallation „Tok Tokkies“ von <a href="https://www.instagram.com/druck_grafiksandraschmidt/" target="_blank">Sandra Schmidt</a>. Den farbigen Hintergrund des Bild Nr. 9 gestaltete <a href="https://www.instagram.com/eva.zimnoch.art/" target="_blank">Eva Zimnoch</a>. </p>
   <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-17">

       {% for item in page.kaefer %}

       <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
       </div>

       {% endfor %}

   </div>

   <div class="col-12 grid slider-container show-sm" id="lightgallery-18"> 
     {% for item in page.kaefer %}

     <div class="col-12 slider-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
     </div>

     {% endfor %}
   </div>
</section>

<section class="grid center padded padded-t-0 bg-light-featured">
   <h3 class="editable text-md margin-05">Archiv </h3>
   <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-19">

       {% for item in page.archiv %}

       <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
       </div>

       {% endfor %}

   </div>

   <div class="col-12 grid slider-container show-sm" id="lightgallery-20"> 
     {% for item in page.archiv %}

     <div class="col-12 slider-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
     </div>

     {% endfor %}
   </div>
</section>

<!-------------------------- Gallerie ----------------------------------------------->
<section class="grid-spaceAround center padded hide-md">
   <h2 class="editable col-12 text-lg padded-b-2 sm-padded-b-0"> GALERIE </h2>

    <div class="grid-middle col-11">
        {% for item in page.gallery limit:7 %}
        
            <div class="col-3_md-6">
                <div class="bg-image lazy square" style="background-image: url('{{item.background_image}}');"></div>
            </div>
        
        {% endfor %}
        
        {% for item in page.gallery limit:1 offset:7 %}
            <div class="col-3_md-6">
               <a href="galerie">
                  <div class="grid-middle square bg-image bg-zoom bg-overlay relative" style="background-image: url('{{item.background_image}}');">
                     <h3 class="col-12 editable text-sm gallery-absolute light-text"> Mehr anzeigen </h3>
                  </div>
               </a>
            </div>
         {% endfor %}

    </div>

</section>

<section class="grid-spaceAround center padded show-md">
   <h2 class="col-12 text-lg padded-b-2 sm-padded-b-0"> GALERIE </h2>

    <div class="grid-middle col-12">
      {% for item in page.gallery-mob limit:7 %}
      
          <div class="col-3_md-6">
              <div class="bg-image lazy square" style="background-image: url('{{item.background_image}}');"></div>
          </div>
      
      {% endfor %}
      
      {% for item in page.gallery-mob limit:1 offset:7 %}
          <div class="col-3_md-6">
             <a href="galerie">
                <div class="grid-middle square bg-image bg-zoom bg-overlay relative" style="background-image: url('{{item.background_image}}');">
                   <h3 class="col-12 editable text-sm gallery-absolute light-text"> Mehr anzeigen </h3>
                </div>
             </a>
          </div>
       {% endfor %}

  </div>

</section>

<!-------------------------- About ------------------------------------------->
<section class="grid-middle-spaceAround justify padded bg-light-featured" id="about"> 
   <div class="col-8_sm-12 border-left">
      <div class="padded-lr-10 padded-tb-1">
         <h2 class="editable text-lg padded-b-2 sm-padded-b-0"> ÜBER MICH </h2> 
         <p class="editable"> Seitdem im Jahr 2007 meine erste,  eigene Radierung entstand, kann ich mir ein Leben ohne  Druckgrafik nicht mehr vorstellen.  </p>
         <p class="editable"> Künstler*innen, die dazu beitrugen, indem sie mich durch ihre Arbeiten inspiriert haben und bei denen ich diverse Techniken lernen durfte, sind: </p>
         <ul>
            <li class="editable">Sandra Schmidt (Monotypie, Holzschnitt, Radierung, Aquatinta)</li>
            <li class="editable">Helmut Zirkelbach (Kaltnadel und Aquatinta)</li>
            <li class="editable">Manfred Bodenhöfer (Kaltnadel und Aquatinta)</li>
            <li class="editable">Susanne Haun (Aquatinta) </li>
            <li class="editable">Christina Sauer (Holzschnitt)</li>
            <li class="editable">Helmut Müller (Lithographie) </li>
            <li class="editable">Gloria Alonso (Vernis Mou)</li>
         </ul>
      </div>
   </div>
</section>

<!-------------------------- Contact Form ------------------------------------------->
<section class="grid-middle-spaceAround center padded" id="kontakt"> 
   <div class="col-6_md-8_sm-12 border-contact bg-light-featured">
      <h2 class="editable text-lg padded-b-2 sm-padded-b-0"> KONTAKT </h2> 
      <p class="editable"> <a href="mailto:druckgrafik@gmx.de" target="_blank">druckgrafik@gmx.de</a></p>
   </div>

        <!--div class="capped-width-v-narrow">
            <form action="#" method="POST">
                <input type="text" name="Name" placeholder="Name" />
                <input type="email" name="E-Mail" placeholder="E-Mail" />
                <input type="text" name="Subject" placeholder="Betreff" />
                <textarea name="message" placeholder="Nachricht" rows="6"></textarea>
                <button class="button" type="submit" value="Send"> Abschicken </button>
            </form>
        </div-->
    
</section>