---
layout: default
title: Andrea Krämer Homepage
banner_image: /uploads/kaefer-1.png
banner-mob_image: /uploads/kaefer-1.png
kaefer:
   -
      background_image: /uploads/kaefer-1.png
   -
      background_image: /uploads/kaefer-2.png
   -
      background_image: /uploads/kaefer-3.png
   -
      background_image: /uploads/kaefer-4.png
   -
      background_image: /uploads/kaefer-5.png
   -
      background_image: /uploads/kaefer-6.png
   -
      background_image: /uploads/kaefer-7.png
   -
      background_image: /uploads/kaefer-8.png
   -
      background_image: /uploads/kaefer-9.png
   -
      background_image: /uploads/kaefer-10.png
strukturen:
      -
         background_image: /uploads/strukturen-gelb-1.png
         aspect-ratio: portrait
      -
         background_image: /uploads/strukturen-rot-1.png
         aspect-ratio: square
      -
         background_image: /uploads/strukturen-sw-1.png
         aspect-ratio: landscape
      -
         background_image: /uploads/strukturen-gelb-2.png
         aspect-ratio: square
      -
         background_image: /uploads/strukturen-rot-2.png
         aspect-ratio: portrait
      -
         background_image: /uploads/strukturen-sw-2.png
         aspect-ratio: square
      -
         background_image: /uploads/strukturen-gelb-3.png
         aspect-ratio: landscape
      -
         background_image: /uploads/strukturen-rot-3.png
         aspect-ratio: portrait
      -
         background_image: /uploads/strukturen-sw-3.png
         aspect-ratio: portrait
polaroids:
      -
         background_image: /uploads/polaroid-1.png
         aspect-ratio: portrait
      -
         background_image: /uploads/polaroid-2.png
         aspect-ratio: square
      -
         background_image: /uploads/polaroid-3.png
         aspect-ratio: landscape
      -
         background_image: /uploads/polaroid-4.png
         aspect-ratio: square
      -
         background_image: /uploads/polaroid-5.png
         aspect-ratio: portrait
      -
         background_image: /uploads/polaroid-6.png
         aspect-ratio: square
      -
         background_image: /uploads/polaroid-7.png
         aspect-ratio: landscape
      -
         background_image: /uploads/polaroid-8.png
         aspect-ratio: portrait
      -
         background_image: /uploads/polaroid-9.png
         aspect-ratio: landscape
      -
         background_image: /uploads/polaroid-10.png
         aspect-ratio: portrait
berlin:
      -
         background_image: /uploads/polaroid-1.png
         aspect-ratio: portrait
      -
         background_image: /uploads/polaroid-2.png
         aspect-ratio: square
      -
         background_image: /uploads/polaroid-3.png
         aspect-ratio: landscape
      -
         background_image: /uploads/polaroid-4.png
         aspect-ratio: square
      -
         background_image: /uploads/polaroid-5.png
         aspect-ratio: portrait
      -
         background_image: /uploads/polaroid-6.png
         aspect-ratio: square
      -
         background_image: /uploads/polaroid-7.png
         aspect-ratio: landscape
      -
         background_image: /uploads/polaroid-8.png
         aspect-ratio: portrait
      -
         background_image: /uploads/polaroid-9.png
         aspect-ratio: landscape
      -
         background_image: /uploads/polaroid-10.png
         aspect-ratio: portrait
aquatinta:
      -
         background_image: /uploads/polaroid-1.png
         aspect-ratio: portrait
      -
         background_image: /uploads/polaroid-2.png
         aspect-ratio: square
      -
         background_image: /uploads/polaroid-3.png
         aspect-ratio: landscape
      -
         background_image: /uploads/polaroid-4.png
         aspect-ratio: square
      -
         background_image: /uploads/polaroid-5.png
         aspect-ratio: portrait
      -
         background_image: /uploads/polaroid-6.png
         aspect-ratio: square
      -
         background_image: /uploads/polaroid-7.png
         aspect-ratio: landscape
      -
         background_image: /uploads/polaroid-8.png
         aspect-ratio: portrait
      -
         background_image: /uploads/polaroid-9.png
         aspect-ratio: landscape
      -
         background_image: /uploads/polaroid-10.png
         aspect-ratio: portrait
gallery:
      -
         background_image: /uploads/kaefer-1.png
      -
         background_image: /uploads/strukturen-gelb-2.png
      -
         background_image: /uploads/polaroid-3.png
      -
         background_image: /uploads/strukturen-rot-2.png
      -
         background_image: /uploads/strukturen-sw-2.png
      -
         background_image: /uploads/kaefer-3.png
      -
         background_image: /uploads/strukturen-gelb-2.png
      -
         background_image: /uploads/kaefer-10.png
seo:
   title: Andrea Krämer Homepage
   description: 
   social_image:
   twitter_card:
   keywords:
   hide-from-google: false
---
<!---------------------------- Hero Banner ------------------------------------------>
<section class="grid-middle banner banner-image tall-90 center bg-overlay">
    <h1 class="col-12 editable light-text">Andrea Krämer</h1>
</section>

<style> 
    .banner-image {
       background-image: url('{{page.banner_image}}');
    }
  
    @media(max-width:64em) {
       .banner-image {
           background-image: url('{{page.banner-mob_image}}');
    }
  }
  </style> 

<!-------------------------- Ausstellungen ------------------------------------------->
<section class="grid-spaceAround padded center">
    <div class="col-6_md-8_sm-12 padded-1 border">
        <p class="editable"> Nächste Ausstellung: </p>
        <h2 class="editable text-md medium-featured-text uppercase">Art Spring und Offener Ateliergarten</h2>
        <p class="editable"> Bei Sandra Schmidt </p>
        <p class="editable"> Basteiweg 45, 13158 Berlin </p>
        <a href="https://www.artspring.berlin/kuenstler/" target="_blank"> www.artspring.berlin/kuenstler </a>
    </div>
</section>


<!-------------------------- Kollektionen ------------------------------------------->
<section class="grid center padded bg-light-featured" id="reihen">
    <h2 class="col-12 text-lg padded-b-2 sm-padded-b-05"> REIHEN </h2>

    <h3 class="col-12 left editable text-md margin-05">Käfer</h3> 
    <p class="col-12 left editable margin-05">*inspiriert durch die Papierinstallation „Tok Tokkies“ von <a href="https://www.instagram.com/druck_grafiksandraschmidt/">Sandra Schmidt </a></p>
    <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-1">

        {% for item in page.kaefer %}

        <div class="col-2 margin-05 gallery-item" href="{{item.background_image}}">
            <div class="bg-image lazy portrait" style="background-image: url('{{item.background_image}}');"></div>
        </div>

        {% endfor %}

    </div>
    
    <div class="col-12 grid slider-container show-sm"> 
      {% for item in page.kaefer %}

      <div class="col-12 slider-item">
            <div class="bg-image lazy portrait" style="background-image: url('{{item.background_image}}');"></div>
      </div>

      {% endfor %}
    </div>
    
</section>

<section class="grid center padded padded-t-0 bg-light-featured">
    <h3 class="editable text-md margin-05">Strukturen</h3>
    <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-2">

        {% for item in page.strukturen %}

        <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
            <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
        </div>

        {% endfor %}

    </div>

    <div class="col-12 grid slider-container show-sm"> 
      {% for item in page.strukturen %}

      <div class="col-12 slider-item">
            <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
      </div>

      {% endfor %}
    </div>

</section>

<section class="grid center padded padded-t-0 bg-light-featured">
    <h3 class="editable text-md margin-05">Polaroids</h3>
    <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-3">

        {% for item in page.polaroids %}

        <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
            <div class="bg-image lazy landscape" style="background-image: url('{{item.background_image}}');"></div>
        </div>

        {% endfor %}

    </div>

    <div class="col-12 grid slider-container show-sm"> 
      {% for item in page.polaroids %}

      <div class="col-12 slider-item">
            <div class="bg-image lazy portrait" style="background-image: url('{{item.background_image}}');"></div>
      </div>

      {% endfor %}
    </div>
</section>

<section class="grid center padded padded-t-0 bg-light-featured">
   <h3 class="editable text-md margin-05">Berlin</h3>
   <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-3">

       {% for item in page.berlin %}

       <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
           <div class="bg-image lazy portrait" style="background-image: url('{{item.background_image}}');"></div>
       </div>

       {% endfor %}

   </div>

   <div class="col-12 grid slider-container show-sm"> 
     {% for item in page.berlin %}

     <div class="col-12 slider-item">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
     </div>

     {% endfor %}
   </div>
</section>

<section class="grid center padded padded-t-0 bg-light-featured">
   <h3 class="editable text-md margin-05">AquatintA </h3>
   <div class="grid col-12 horizontal-scroll hide-sm" id="lightgallery-3">

       {% for item in page.aquatinta %}

       <div class="col-2_sm-12 margin-05 gallery-item" href="{{item.background_image}}">
           <div class="bg-image lazy {{ item.aspect-ratio }}" style="background-image: url('{{item.background_image}}');"></div>
       </div>

       {% endfor %}

   </div>

   <div class="col-12 grid slider-container show-sm"> 
     {% for item in page.aquatinta %}

     <div class="col-12 slider-item">
           <div class="bg-image lazy landscape" style="background-image: url('{{item.background_image}}');"></div>
     </div>

     {% endfor %}
   </div>
</section>

<!-------------------------- Gallerie ----------------------------------------------->
<section class="grid-spaceAround center padded">
   <h2 class="col-12 text-lg padded-b-2 sm-padded-b-0"> GALLERIE </h2>

    <div class="grid-middle col-11">
        {% for item in page.gallery limit:7 %}
        
            <div class="col-3_md-6">
                <div class="bg-image lazy square" style="background-image: url('{{item.background_image}}');"></div>
            </div>
        
        {% endfor %}
        
        {% for item in page.gallery limit:1 offset:7 %}
            <div class="col-3_md-6">
               <a href="gallerie">
                  <div class="grid-middle square bg-image bg-zoom bg-overlay relative" style="background-image: url('{{item.background_image}}');">
                     <h3 class="col-12 editable text-sm gallery-absolute light-text"> Mehr anzeigen </h3>
                  </div>
               </a>
            </div>
         {% endfor %}

    </div>

</section>


<!-------------------------- Contact Form ------------------------------------------->
<section class="grid-middle padded bg-light-featured" id="kontakt"> 

    <div class="col-12">
        <div class="center">
            <h2 class="editable text-lg padded-b"> KONTAKT </h2> 
        </div>
        <div class="capped-width-v-narrow">
            <form action="#" method="POST">
                <input type="text" name="Name" placeholder="Name" />
                <input type="email" name="E-Mail" placeholder="E-Mail" />
                <input type="text" name="Subject" placeholder="Betreff" />
                <textarea name="message" placeholder="Nachricht" rows="6"></textarea>
                <button class="button" type="submit" value="Send"> Abschicken </button>
            </form>
        </div>
    </div>
</section>