<!------------ Technical Metadata  --------------------------------->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">


<!-- Metadata for favicons  -->
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="manifest" href="/icons/site.webmanifest">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#fefbf0">
<meta name="msapplication-config" content="/icons/browserconfig.xml">
<meta name="theme-color" content="#fefbf0">

<!------------ SEO Metadata  --------------------------------->
<title> {{page.seo.title | default: site.data.site-settings.seo.title }} </title> 
<meta name="description" content="{{page.seo.description | default: site.data.site-settings.seo.description }}">
<meta name="keywords" content="{{page.seo.keywords | default: site.data.site-settings.seo.keywords }}">

<!--- >> default settings are there so if clients haven't populated the info, it's not empty but uses default */ -->

{% if page.seo.hide-from-google == true %}
    <meta name="robots" content="noindex, nofollow">
{% else %}
     <meta name="robots" content="index, follow">
{% endif %}

<!-- >> this is so that page doesn't show up in google searches before it's got content on it cause just because you hide it from your header menu it could still show up in a google search -->


<!------------  Social media sharing META Tags ------------>
<meta property="og:title" content="{{ page.title | default: site.data.site-settings.seo.title }}">
<meta property="og:description" content="{{ page.seo.description | default: site.data.site-settings.seo.description }}"> 
<meta property="og:image" content="{{ page.seo.social_image | default: site.data.site-settings.seo.social_image }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:card" content="{{ page.seo.twitter_card | default: site.data.site-settings.seo.twitter_card }}">
<meta name="og:site_name" content="{{ site.data.site-settings.seo.site_name }}">
<link rel="icon" type="image/png" href="{{ site.data.site-settings.seo.favicon_image }}">

<!------------ Pinterest Meta Tags ------------>
<meta property="article:author" content="{{ page.author | default: site.seo.author }}" />

<!------------ External Stylesheets  ------------>

<!-- Gridlex -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"/>

<!-- Lightgallery for pop-ups  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery-bundle.min.css" integrity="sha512-nUqPe0+ak577sKSMThGcKJauRI7ENhKC2FQAOOmdyCYSrUh0GnwLsZNYqwilpMmplN+3nO3zso8CWUgu33BDag==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Slick Carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Custom Stylesheet  -->
<link rel="stylesheet" href="/all.css">
<link rel="stylesheet" type="text/css" href="/editor.css" />
<link rel="stylesheet" type="text/css" href="/style.css" />