<!-- Styles  -->
<style> 

    :root {
        --dark-featured: {{ site.data.site-settings.design.dark-featured_color }};
        --medium-featured: {{ site.data.site-settings.design.medium-featured_color }};
        --light-featured: {{ site.data.site-settings.design.light-featured_color }};
        --dark: {{ site.data.site-settings.design.dark_color }};
        --light: {{ site.data.site-settings.design.light_color }};
        --accent: {{ site.data.site-settings.design.accent_color }}; 
    }

</style> 