<header class="grid-middle bg-dark" id="#top">
    <div class="col-4 left">
        <a href="/index" class="logo">Andrea Krämer</a>
    </div>
    <nav class="col-8_sm-9 right hide-md">
        <a href="/index">Home</a>
        <a href="/index#kollektionen">Kollektionen</a>
        <a href="/gallerie">Gallerie</a>
        <a href="/index#kontakt">Kontakt</a>
        <a href="https://www.instagram.com/andrea_kraemer_art/" target="_blank"> <i class="fab fa-instagram"></i> </a>
    </nav> 
        
    <div class="col-6-middle right show-md">
      <a class="hamburger-button"> </a>
    </div>
</header>
    
<div class="mobile-menu center"> 
    <nav class="padded-t-10"> 
        <a href="/index"> Home </a>
        <a href="/index"> Kollektionen </a>
        <a href="/gallerie">Gallerie</a>
        <a href="/index#kontakt"> Kontakt </a>
        <a href="https://www.instagram.com/andrea_kraemer_art/" target="_blank"> <i class="fab fa-instagram"></i> </a>
    </nav>
</div> 