<footer class="grid center bg-dark">
    <nav class="col-12 padded-2 text-sm">
        <a href="/index" class="editable text-md uppercase"> Andrea Krämer</a>
        <a href="https://www.instagram.com/andrea_kraemer_art/" target="_blank"> <i class="fab fa-instagram padded-r-05"></i> Kunst </a> 
        <a href="https://www.instagram.com/andrea_kraemer_polaroid/" target="_blank"> <i class="fab fa-instagram padded-r-05"></i> Polaroids </a> 
    </nav>
    <p class="col-12-bottom editable padded-b-0 subtle"> Copyright @ Andrea Krämer 2024 | <a href="/impressum">Impressum</a> | <a href="/datenschutzerklaerung">Datenschutzerklärung</a></p>
</footer>